$pastel-yellow-light: #fff8d6;
$pastel-yellow: #ffe89c;
$pastel-yellow-dark: #ffd85a;
$text-color: #333;
// $pastel-blue-light: rgba(109, 222, 242, 0.2);
$font-title: "Dancing Script", cursive;
$font-body: "Raleway", sans-serif;
